body {
    font-family: "Roboto Light";
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}


.arivals {
    padding-top: 40px;
}

.arrivals__list {
    display: flex;
    justify-content: center;
}

.arrivals__link {
    list-style: none;
    margin-right: 48px;
}

.arivals__a {
    color: #B3B3B3;
    font-size: 20px;
    text-decoration: none;
}
.arivals__a:hover {
    color: #B3B3B3 !important;
    text-decoration: none;
}

.active {
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1A1A1A;
}
.card__image {
    max-width: 275px;
    height: 341px;
}

.card__image>img {
    max-width: 275px;
    height:  341px;
}

.newsarrival,
.analogdir,
.finalstockdir{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



.grey {
    color: #A8A8A8;
}

.red {
    color: #FF3451;
}

.newsarrivaltext {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 6px;
    margin-top: 11px;
    color: #1A1A1A;
}

.card__small {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
}

.card__text:last-child {
    padding-bottom: 31px;
}


.oneanalog {
    display: none;
}

.onefinalstock {
    display: none;
}